<div class="fullwidthbanner" id="home">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Apaixonados por animais">
                <!-- MAIN IMAGE -->
                <img src="images/slide1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Apaixonados por animais
                </div>
            </li>

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Veja nossas Mídias">
                <!-- MAIN IMAGE -->
                <img src="images/slide2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="caption text-center-top sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1400"
                     data-easing="easeOutExpo">
                    Veja nossas Mídias 
                </div>

            </li>

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Novo conceito de Pet Shop">
                <!-- MAIN IMAGE -->
                <img src="images/slide3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Novo conceito de Pet Shop
                </div>
            </li>

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Novo conceito de Pet Shop">
                <!-- MAIN IMAGE -->
                <img src="images/slide4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Novo conceito de Pet Shop
                </div>                
            </li>

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Novo conceito de Pet Shop">
                <!-- MAIN IMAGE -->
                <img src="images/slide5.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Novo conceito de Pet Shop
                </div> 
            </li>

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Novo conceito de Pet Shop">
                <!-- MAIN IMAGE -->
                <img src="images/slide6.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Novo conceito de Pet Shop
                </div>
            </li>

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Novo conceito de Pet Shop">
                <!-- MAIN IMAGE -->
                <img src="images/slide7.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Novo conceito de Pet Shop
                </div>
            </li>

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Novo conceito de Pet Shop">
                <!-- MAIN IMAGE -->
                <img src="images/slide8.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Novo conceito de Pet Shop
                </div>
            </li>

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Novo conceito de Pet Shop">
                <!-- MAIN IMAGE -->
                <img src="images/slide9.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Novo conceito de Pet Shop
                </div>
            </li>

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Novo conceito de Pet Shop">
                <!-- MAIN IMAGE -->
                <img src="images/slide10.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Novo conceito de Pet Shop
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="divide60"></div>

<!-- instagram -->
<div class="container" id="section2">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
                <h2>Veja nossa <strong>Galeria</strong></h2>
                <span class="center-line"></span>
            </div>
        </div>
    </div>
    <div class="cube-masonry" id="instafeed"></div>
</div>

<div class="text-center">
    <a href="http://instagram.com/galpaopet" class="btn border-white btn-lg" target="_blank">Siga nosso Instagram</a>
</div>
<div class="divide50"></div>

<div class="container" id="section1">
    <div class="row">
        <div class="col-md-12">
            <div class="center-heading">
                <h2>Uma loja <strong>para quem ama os animais.</strong></h2>
                <span class="center-line"></span>
                <p class="sub-text margin40">O Galpão Pet apresenta um novo conceito de Pet shop e oferece produtos criteriosamente selecionados e diferenciados.</p>
                <p>Em um ambiente pra lá de acolhedor, o visitante encontra as melhores marcas do mercado, além de uma linha natural e orgânica. A equipe é um caso à parte. Apaixonados por animais, além de orientar os clientes, literalmente deitam e rolam com os bichinhos, fazendo do espaço um verdadeiro parque de diversões para os animais e seus donos que se divertem com a variedade de produtos e mimos.</p>
                <p>A linha de produtos para a segurança e conforto ,desenvolvidos  com alta tecnologia  e alimentos naturais e orgânicos,  fazem sucesso para os que prezam pela qualidade de vida e envelhecimento saudável dos animais.</p>
                <p>“Não fazemos comercialização de nenhuma espécie animal e apoiamos todo tipo de ação que nos ajudem a tirar animais das ruas e do estado de abandono”.</p>
                <p>Uma loja para quem ama os animais.</p>
                <p>¨Não fazemos comercialização de nenhuma especie animal e apoiamos todo tipo de ação que nos ajudem a tirar animas das ruas e do estado de abandono.</p>
            </div>
        </div>
    </div>
    <div class="divide50"></div>
    </div>
</div>

<div class="divide50" id="servicos"></div>

<!-- paralax -->
<div class="constro-cta parallax" data-stellar-background-ratio="0.5" id="section3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Pet Food & Acessórios</h1>
                <p>O Galpão Pet apresenta um novo conceito de Pet Shop e oferece produtos diferenciados, além de uma linha natural e orgânica.</p>
            </div>
        </div>
    </div>
</div>